<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DistribuidoraCrelech.Properties.Settings.FABRICA_AUTOMOTRIZConnectionString"
            connectionString="Data Source=fabricaautomotriz.cbqr9awpp7z2.us-east-1.rds.amazonaws.com,1433;Initial Catalog=FABRICA_AUTOMOTRIZ;User ID=admin;Password=fabricaautomotriz"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>